<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Type Data Storage-->
    <add key="dbType" value="DB_MYSQL" />
    <!---CACHE ; DB_MYSQL-->
    <!--MySql-->
    <add key="mySqlDBName" value="sql7254498" />
    <add key="mySqlDBServer" value="sql7.freemysqlhosting.net" />
    <add key="mySqlDBPort" value="3306" />
    <add key="mySqlDBuser" value="sql7254498" />
    <add key="mySqlDBPassword" value="dQSfQdvRSf" />
    <!--MySql-->
  </appSettings>
</configuration>